@media only screen and (max-width: 1100px) {
  .header_post_item {
    padding-left: 30px;
    padding-right: 45px;
  }

  .news_posts {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 1000px) {
  .header_post_item {
    padding-left: 20px;
    padding-right: 35px;
  }
}

@media only screen and (max-width: 872px) {
  .header_post_item {
    padding-left: 10px;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 792px) {
  .header_post_item {
    padding-left: 5px;
    padding-right: 5px;
  }

  .post_item_category {
    font-size: 10px;
  }

  .post_item_text {
    font-size: 14px;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .mob_menu {
    display: block;
  }

  .nav_menu {
    display: none;
  }
}

@media only screen and (max-width: 660px) {
  .accordeon_item_img {
    display: none;
  }
}

@media only screen and (max-width: 615px) {
  .header_post_descr {
    left: 20px;
  }

  .post_item_category {
    margin-top: 5px;
  }

  .post_item_text {
    padding-bottom: 0;
  }

  .accordeon_item {
    padding-left: 10px;
  }

  .accordeon_item_title {
    margin-left: 28px;
  }

  .on_category_big {
    margin-left: 5px;
  }

  .accordeon_arrow {
    right: 15px;
  }
}

@media only screen and (max-width: 580px) {
  .header_post_category {
    font-size: 14px;
  }

  .header_post_title {
    font-size: 28px;
  }

  .header_post_text {
    font-size: 13px;
  }

  .people_img {
    display: none;
  }
}

@media only screen and (max-width: 555px) {
  .accordeon_arrow {
    right: 5px;
  }
}

@media only screen and (max-width: 510px) {
  .header_post_title {
    max-width: 370px;
  }

  .accordeon_item {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
  }

  .header_post_info:after {
    height: 6px;
  }

  .accordeon_item_title {
    margin-left: 35px;
  }

  .accordeon_arrow {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .header_post_text {
    max-width: 390px;
  }
}

@media only screen and (max-width: 450px) {
  .header_post_title {
    font-size: 24px;
  }

  .header_post_text {
    max-width: 400px;
  }

  .accordeon_item {
    padding: 10px 5px;
  }
}

@media only screen and (max-width: 425px) {
  .header_post_title {
    max-width: 250px;
  }

  .header_post_text {
    max-width: 310px;
  }

  .accordeon_item_text {
    max-width: 390px;
  }
}

@media only screen and (max-width: 400px) {
  .accordeon_item_text {
    max-width: 300px;
  }
}

@media only screen and (max-width: 382px) {
  .post_info_big {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 374px) {
  .header_post {
    display: none;
  }
}

@media only screen and (max-width: 370px) {
  .accordeon_item.active .accordeon_item_title {
    max-width: 300px;
  }
}