body
	background: #2e2e30

.header
	margin-top: 30px

.container 
	max-width: 1100px
	margin: 0 auto
	padding: 0 10px

.navigation
	display: flex
	justify-content: space-between

.logo_link
	display: inline-block
	text-decoration: none
	color: #fff
	font-family: Merriweather
	font-size: 22px
	font-weight: 800
	line-height: 26px
	padding: 15px
	&:hover
		background: #38383a
		border-radius: 5px 

.nav_menu
	display: flex
	margin: 0
	padding: 0
	list-style: none
	background: #38383a
	border-radius: 5px
	li 
		margin: 20px

.nav_menu_link
	text-decoration: none
	color: #888
	font-family: MerriweatherSans
	font-size: 13px
	line-height: 26px
	font-weight: 400
	padding: 20px 15px
	margin: 0 5px
		
.nav_menu_link:hover
	color: #fff

.content
	margin-top: 35px

.header_post
	position: relative

.header_post_img
	border-radius: 10px

.header_post_img 
	background: url(../img/content/lifestyle.jpg) no-repeat 
	background-size: cover
	vertical-align: middle
	width: 100%
	height: 615px
	border-radius: 5px

.header_post_descr
	position: relative
	left: 50px
	top: 205px
	max-width: 550px

.header_post_category
	padding: 8px 15px
	color: #fff
	font-size: 17px
	font-weight: 400
	line-height: 1
	text-transform: uppercase
	background: #4b77be
	border-radius: 5px

.header_post_title
	color: #fff
	font-family: Merriweather
	font-size: 32px
	font-weight: 700
	line-height: 1.5

.header_post_text
	color: #fff
	font-family: Merriweather
	font-size: 16px
	font-weight: 400
	line-height: 1.62

.header_post_link
	text-decoration: none
	text-transform: uppercase
	padding: 6px 21px
	color: #fff
	font-family: MerriweatherSans
	font-size: 14px
	font-weight: 400
	line-height: 1.8
	border: 1px solid rgba(255, 255, 255, 0.7)
	border-radius: 15px
	&:hover 
		color: #999
		border: 1px solid rgba(153, 153, 153, 0.7)

.header_post_info 
	display: flex
	justify-content: space-between
	position: absolute
	left: 0
	right: 0
	bottom: 0
	list-style: none
	margin: 0
	padding: 0
	background: #fff
	border-radius: 5px
	&:after 
		position: absolute
		top: 0
		content: ""
		width: 100%
		height: 5px
		background: #fff

.header_post_item
	position: relative
	max-width: 170px
	padding-left: 45px
	padding-right: 60px
	cursor: pointer
	&.active
		background: #4b77be
		z-index: 5
		border-radius: 0
	&:first-child.active
		border-radius: 5px
	&:last-child.active
		border-radius: 5px
	&:before 
		position: absolute
		content: ""
		width: 100%
		height: 5px
		top: 0
		left: 0
		background: #4b77be
	&.active:after 
		position: absolute
		top: 0
		right: 0
		content: ""
		width: 5px
		height: 100%
		background: #4b77be
	&.active:last-child:after
		left: 0
	&:hover .post_item_category
		color: #a5a5b9
	&:hover .post_item_text
		color: #a5a5b9

.post_item_category 
	display: inline-block
	color: #38383a
	font-family: MerriweatherSans
	font-size: 12px
	font-weight: 400
	line-height: 26px
	text-transform: uppercase
	margin-top: 25px

/* Block - News*/
.news_posts 
	margin-top: 35px

.news_post_item
	position: relative
	background: #fff
	border-radius: 5px
	width: 33%
	&:hover
		background: #38383a
	&:hover .news_post_pic:after
		background: #38383a

.news_post_pic
	position: relative
	border-radius: 5px
	&:after 
		position: absolute
		content: ""
		left: 0
		bottom: 4px
		width: 100%
		height: 5px
		background: #fff

.news_post_img
	width: 100%
	border-radius: 5px

.post_item_text
	color: #38383a
	font-family: Merriweather
	font-size: 16px
	font-weight: 700
	line-height: 26px
	padding-bottom: 10px

.post_category
	position: absolute
	top: 30px
	left: 38px
	color: white
	font-family: MerriweatherSans
	font-size: 12px
	font-weight: 400
	line-height: 26px
	padding: 2px 8px
	border-radius: 5px
	text-transform: uppercase

.country 
	background: #26a65b

.news_post_descr
	display: flex
	flex-direction: column
	align-items: center
	max-height: 235px

.news_post_title
	max-width: 265px

.news_post_text
	max-width: 265px

.news_post_info
	display: flex
	width: 100%
	justify-content: space-around
