body
	background: #2e2e30
	min-width: 320px

.header
	margin-top: 30px

.container 
	max-width: 1100px
	margin: 0 auto
	padding: 0 10px

.navigation
	display: flex
	justify-content: space-between
	position: relative

.logo_link
	display: inline-block
	text-decoration: none
	color: #fff
	font-family: Merriweather
	font-size: 22px
	font-weight: 800
	line-height: 26px
	padding: 15px
	&:hover
		background: #38383a
		border-radius: 5px 

.nav_menu
	display: flex
	margin: 0
	padding: 0
	list-style: none
	background: #38383a
	border-radius: 5px

.nav_menu_link
	display: inline-block
	text-decoration: none
	color: #888
	font-family: MerriweatherSans
	font-size: 13px
	line-height: 26px
	font-weight: 400
	padding: 20px 35px
	margin: 0 5px
		
.nav_menu_link:hover
	color: #fff

.mob_menu
	position: absolute
	display: none
	top: 18px
	right: 10px
	width: 30px
	height: 30px
	background: linear-gradient(to bottom, black, black 20%, white 20%, white 40%, black 40%, black 60%, white 60%, white 80%, black 80%, black 100%)
	outline: 1px solid white

.nav_menu.active
	position: absolute
	top: 50px
	right: 10px
	display: flex
	flex-direction: column
	z-index: 20
	& .nav_menu_link
		padding: 30px 80px
		font-size: 28px

.content
	margin-top: 35px

.header_post
	position: relative

.header_post_img
	border-radius: 10px

.header_post_img 
	background: url(../img/content/lifestyle.jpg) no-repeat 
	background-size: cover
	vertical-align: middle
	width: 100%
	height: 615px
	border-radius: 5px

.header_post_descr
	position: relative
	left: 50px
	top: 205px
	max-width: 550px

.header_post_category
	padding: 8px 15px
	color: #fff
	font-size: 17px
	font-weight: 400
	line-height: 1
	text-transform: uppercase
	background: #4b77be
	border-radius: 5px

.header_post_title
	color: #fff
	font-family: Merriweather
	font-size: 32px
	font-weight: 700
	line-height: 1.5

.header_post_text
	color: #fff
	font-family: Merriweather
	font-size: 16px
	font-weight: 400
	line-height: 1.62

.header_post_link
	position: absolute
	bottom: -60px
	text-decoration: none
	text-transform: uppercase
	padding: 6px 21px
	color: #fff
	font-family: MerriweatherSans
	font-size: 14px
	font-weight: 400
	line-height: 1.8
	border: 1px solid rgba(255, 255, 255, 0.7)
	border-radius: 15px
	&:hover 
		color: #999
		border: 1px solid rgba(153, 153, 153, 0.7)

.header_post_info 
	display: flex
	justify-content: space-between
	position: absolute
	left: 0
	right: 0
	bottom: 0
	list-style: none
	margin: 0
	padding: 0
	background: #fff
	border-radius: 5px
	&:after 
		position: absolute
		top: 0
		content: ""
		width: 100%
		height: 5px
		background: #fff

.header_post_item
	position: relative
	max-width: 170px
	padding-left: 45px
	padding-right: 60px
	cursor: pointer
	&.active
		background: #4b77be
		z-index: 5
		border-radius: 0
	&:first-child.active
		border-radius: 5px
	&:last-child.active
		border-radius: 5px
	&:before 
		position: absolute
		content: ""
		width: 100%
		height: 5px
		top: 0
		left: 0
		background: #4b77be
	&.active:after 
		position: absolute
		top: 0
		right: 0
		content: ""
		width: 5px
		height: 100%
		background: #4b77be
	&.active:last-child:after
		left: 0
	&:hover .post_item_category
		color: #a5a5b9
	&:hover .post_item_text
		color: #a5a5b9

.post_item_category 
	display: inline-block
	color: #38383a
	font-family: MerriweatherSans
	font-size: 12px
	font-weight: 400
	line-height: 26px
	text-transform: uppercase
	margin-top: 25px

/* Block - News*/
.news_posts 
	margin-top: 35px
	display: flex
	justify-content: space-between
	flex-wrap: wrap

.news_post_item
	position: relative
	background: #fff
	max-height: 420px
	border-radius: 5px
	margin-bottom: 35px

.post_sm
	width: 341px
	height: 420px
	margin-right: 7px
	margin-left: 7px
	&:hover
		background: #38383a
	&:hover .news_post_pic:after
		background: #38383a
	&:hover .news_post_title
		color: #fff
	&:hover .news_post_text
		color: #fff
	&:hover .news_post_link
		color: #fff
		border-color: rgba(255,255,255,0.2)
	&:hover .news_post_comment
		border-color: rgba(255,255,255,0.2)
		color: #fff
	&:hover .news_post_like .fa-heart-o
		color: #fff
		border-color: rgba(255,255,255,0.2)

.news_post_pic
	position: relative
	border-radius: 5px
	height: 185px
	overflow: hidden
	&:after 
		position: absolute
		content: ""
		left: 0
		bottom: 0px
		width: 100%
		height: 5px
		background: #fff

.news_post_img
	width: 100%

.post_item_text
	color: #38383a
	font-family: Merriweather
	font-size: 16px
	font-weight: 700
	line-height: 26px
	padding-bottom: 10px

.post_category
	position: absolute
	top: 30px
	left: 38px
	color: white
	font-family: MerriweatherSans
	font-size: 12px
	font-weight: 400
	line-height: 26px
	padding: 2px 8px
	border-radius: 5px
	text-transform: uppercase
	letter-spacing: 4px

.country 
	background: #26a65b
.science
	background: #8e333e
.people
	background: #e52a40
.travel
	background: #663399
.technology
	background: #e87e04
.education
	background: #3be96c
.economy 
	background: #e74c3c
	left: 120px
.decor 
	background: #4183d7
	position: relative
	display: inline-block
	width: 140px
	top: -40px
	left: 20px

.news_post_descr
	display: flex
	flex-direction: column
	align-items: center

.news_post_title
	color: #38383a
	font-family: Merriweather
	font-size: 18px
	font-weight: 700
	line-height: 26px
	margin: 0
	margin-top: 25px
	z-index: 10
	&.title_sm
		max-width: 265px

.news_post_text
	color: #656565
	font-family: Merriweather
	font-size: 14px
	font-weight: 400
	line-height: 26px
	margin-bottom: 15px
	z-index: 10
	&.text_sm
		max-width: 265px

.news_post_info
	display: flex
	width: 100%
	border-top: 1px solid #cccccc
	padding-top: 20px
	margin-bottom: 15px

.news_post_link
	color: #2e2e30
	font-family: MerriweatherSans
	font-size: 12px
	font-weight: 400
	line-height: 26px
	letter-spacing: 4px
	text-transform: uppercase
	text-decoration: none
	padding: 5px 15px
	border: 1px solid rgba(0, 0, 0, 0.4)
	border-radius: 25px
	margin-left: 35px
	&:hover
		opacity: .7

.news_post_comment
	color: #878787
	font-family: MerriweatherSans
	font-size: 14px
	font-weight: 400
	line-height: 26px
	padding: 5px 15px
	padding-left: 25px
	margin-left: 15px
	border: 1px solid rgba(0, 0, 0, 0.4)
	border-radius: 20px
	cursor: pointer
	&:hover
		opacity: .7

.fa-commenting-o:before
	margin-right: 5px
	font-size: 17px
	margin-left: -6px

.news_post_like
	& .fa-heart-o
		color: #878787
		border: 1px solid rgba(0, 0, 0, 0.4)
		border-radius: 20px
		padding: 10px
		margin-left: 15px
		cursor: pointer
	&:hover
		opacity: .7

.post_big
	width: 721px

.post_descr_big
	align-items: flex-start
	margin-left: 40px
	max-height: 365px
	padding-right: 10px


.title_big 
	max-width: 320px
	margin-top: 120px

.text_big
	max-width: 390px

.post_info_big
	border: none
	padding: 0
	margin-top: 55px

.people_img
	position: absolute
	top: 95px
	right: 35px

.title_no_pic
	margin-top: 110px
	width: 210px
	text-align: center

.text_no_pic
	text-align: center
	margin-bottom: 60px

.post_descr_full
	position: absolute
	top: 230px

.title_full
	color: #fff

.post_info_full
	border: none
	.news_post_link
		color: #fff
		border-color: #fff
	.news_post_comment 
		border-color: #fff
		color: #fff
	.news_post_like .fa-heart-o
		border-color: #fff
		color: #fff

.slick_slider
	height: 420px
	background: none
	outline: none
	position: relative

.post_slider_bg
	position: relative
	background: url(../img/content/home.jpg) center center
	background-size: 110%
	height: 100%
	border-radius: 5px

.post_slider_descr 
	padding-top: 200px
	display: flex
	flex-direction: column
	.news_post_title
		color: #fff
		width: 230px
		margin-left: 20px

.post_info_full 
	margin-top: 40px
	.news_post_link
		margin-left: 20px

.slick-dots
	bottom: 80px

.slick-dots li 
	left: -95px

.slick-dots li button
	width: 10px
	height: 10px

.slick-dots li button:before
	font-size: 10px
	color: #fff
	opacity: .5

.slick-dots li.slick-active button:before
	color: #fff
	opacity: 1

.accordeon
	background: #fff
	border-radius: 5px
	width: 721px
	height: 420px
	background: #fff
	margin-bottom: 35px
	overflow: hidden

.accordeon_item
	position: relative
	display: flex
	flex-direction: row
	flex-wrap: wrap
	height: 30px
	padding: 15px 0
	padding-left: 30px
	cursor: pointer
	transition: 0.2s
	border-bottom: 1px solid rgba(0,0,0, 0.5)
	&:hover
		opacity: .8

.accordeon_title
	color: #2e2e30
	font-family: MerriweatherSans Bold
	font-size: 12px
	font-weight: 700
	line-height: 26px
	text-transform: uppercase
	letter-spacing: 2px
	margin: 0
	padding: 25px 0
	padding-left: 35px
	border-bottom: 1px solid rgba(0, 0, 0, 0.5)

.accordeon_category
	text-transform: uppercase
	color: #2e2e30
	font-family: MerriweatherSans
	font-size: 12px
	font-weight: 400
	line-height: 26px
	letter-spacing: 2px

.accordeon_item_title
	color: #38383a
	font-family: Merriweather Bold
	font-size: 18px
	font-weight: 700
	line-height: 26px
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	margin: 0
	margin-left: 40px

.on_category_big
	margin-left: 18px

.accordeon_item_text
	display: none
	max-width: 400px
	color: #656565
	font-family: Merriweather
	font-size: 14px
	font-weight: 400
	line-height: 26px
	margin: 0
	margin-top: 10px

.accordeon_item_pic
	display: none
	border-radius: 5px
	overflow: hidden
	width: 202px
	height: 146px

.accordeon_arrow
	width: 5px
	height: 10px
	position: absolute
	top: 20px
	right: 30px
	&:after
		content: "\f105"
		font-family: FontAwesome
		color: #6f6f6f

/*Acccordeon active*/

.accordeon_item.active
	flex-direction: column
	height: 200px
	background: #f2f1f1
	&:hover
		opacity: 1
	& .accordeon_item_title
		max-width: 370px
		margin-top: 10px
		margin-left: 0
		white-space: normal
		overflow: visible
	& .accordeon_item_text
		display: block
	& .accordeon_item_pic
		display: block
	& .accordeon_arrow
		display: none

.load_more
	width: 100%
	text-align: center
	background: #38383a
	border-radius: 5px
	padding: 20px 0
	margin-bottom: 50px

.load_more_link
	position: relative
	color: #8e8e8e
	font-family: MerriweatherSans Bold
	font-size: 14px
	font-weight: 700
	line-height: 26px
	padding: 25px 50px
	text-transform: uppercase
	text-decoration: none
	&:hover
		color: #ccc
	&:before
		position: absolute
		content: "\f021"
		font-family: FontAwesome
		font-weight: 100
		top: 19px
		left: 20px

.footer_info
	display: flex
	justify-content: space-between

.design
	color: #fff
	font-family: Lato
	font-size: 16px
	line-height: 0
	font-weight: 400

.social
	margin: 0
	padding: 0
	list-style: none
	li
		display: inline-block

.social_link
	color: #a5a5a5
	padding: 10px 15px
	&:hover
		color: #858585
	&.behance
		padding-right: 0
