doctype html
html(lang='ru')
	include pug/head
	body
		include pug/header

		include pug/content

		include pug/footer

		script(src="https://code.jquery.com/jquery-2.2.4.min.js" defer)
		script(src="js/slick/slick.js" defer)
		script(src="js/common.js" defer)
		