.content
	.container
		.header_post
			.header_post_img
				.header_post_descr
					span.header_post_category Lifestyle
					h2.header_post_title Things To Do Before You're 30
					p.header_post_text For many it means that you’re no longer in the hard-partying, bad decision-making stage of your life, for better or for worse.
					a(href="#").header_post_link Read more
				.header_post_descr
					span.header_post_category SCIENCE
					h2.header_post_title Value-Based Care‘s Data Problem
					p.header_post_text For many it means that you’re no longer in the hard-partying, bad decision-making stage of your life, for better or for worse.
					a(href="#").header_post_link Read more
				.header_post_descr
					span.header_post_category.technology TECHNOLOGY
					h2.header_post_title How to Design for  Virtual Reality
					p.header_post_text For many it means that you’re no longer in the hard-partying, bad decision-making stage of your life, for better or for worse.
					a(href="#").header_post_link Read more
				.header_post_descr
					span.header_post_category EDUCATION
					h2.header_post_title What I Will Fret Over 
					p.header_post_text For many it means that you’re no longer in the hard-partying, bad decision-making stage of your life, for better or for worse.
					a(href="#").header_post_link Read more
			ul.header_post_info
					li.header_post_item.active
						span.post_item_category Livestyle
						p.post_item_text Things To Do Before You're 30
					li.header_post_item 
						span.post_item_category SCIENCE
						p.post_item_text Value-Based Care‘s Data Problem
					li.header_post_item 
						span.post_item_category TECHNOLOGY
						p.post_item_text How to Design for  Virtual Reality 
					li.header_post_item 
						span.post_item_category EDUCATION
						p.post_item_text What I Will Fret Over 
		.news_posts
			.news_post_item.post_sm
				.news_post_pic
					img.news_post_img(src="img/content/country.jpg")
				span.post_category.country country
				.news_post_descr
					h3.news_post_title.title_sm 12 photos Indonesian beauty  in your eyes
					p.news_post_text.text_sm This is the reaction of many people is often asked when visiting a variety...
					.news_post_info
						a(href="#").news_post_link Read more
						.news_post_comment 
							i.fa.fa-commenting-o.news_comment 
							span 12
						.news_post_like
							i.fa.fa-heart-o
			.news_post_item.post_big.post_people
				span.post_category.people People
				.news_post_descr.post_descr_big
					h3.news_post_title.title_big Ridwan Kamil role in Success  Story Organizing Surabaya 
					p.news_post_text.text_big Bandung many people skeptical and apathetic towards revamping the city of Bandung with all tangled Problems. Though if you want a little to learn from the neighboring town...
					img(src="img/content/people.png").people_img
				.news_post_info.post_info_big
						a(href="#").news_post_link Read more
						.news_post_comment 
							i.fa.fa-commenting-o.news_comment 
							span 34
						.news_post_like
							i.fa.fa-heart-o
			.news_post_item.post_sm
				.news_post_pic
					img.news_post_img(src="img/content/travel.jpg")
				span.post_category.travel travel
				.news_post_descr
					h3.news_post_title.title_sm This 10 Country Beautiful  Non-Asean Free Visa
					p.news_post_text.text_sm When they wanted to travel but are reluctant to arrange a visa is a..
					.news_post_info
						a(href="#").news_post_link Read more
						.news_post_comment 
							i.fa.fa-commenting-o.news_comment 
							span 30
						.news_post_like
							i.fa.fa-heart-o
			.news_post_item.post_sm
				.news_post_pic
					img.news_post_img(src="img/content/travel.jpg")
				span.post_category.technology technology
				.news_post_descr
					h3.news_post_title.title_sm Important Tips on Buying a  New Mobile-Based Android
					p.news_post_text.text_sm Newly purchased device did many advantages, especially those...
					.news_post_info
						a(href="#").news_post_link Read more
						.news_post_comment 
							i.fa.fa-commenting-o.news_comment 
							span 12
						.news_post_like
							i.fa.fa-heart-o
			.news_post_item.post_sm
				span.post_category.economy Economy
				.news_post_descr
					h3.news_post_title.title_no_pic.title_sm Four Pillars Decide  Fate of Economy Indonesia
					p.news_post_text.text_no_pic.text_sm The domestic economy is still faced with a number of structural challenges. To achieve sustain...
					.news_post_info
						a(href="#").news_post_link Read more
						.news_post_comment 
							i.fa.fa-commenting-o.news_comment 
							span 02
						.news_post_like
							i.fa.fa-heart-o
			.news_post_item.post_sm.slick_slider
					
				

