.content
	.container
		.header_post
			.header_post_img
				.header_post_descr
					span.header_post_category Lifestyle
					h2.header_post_title Things To Do Before You're 30
					p.header_post_text For many it means that you’re no longer in the hard-partying, bad decision-making stage of your life, for better or for worse.
					a(href="#").header_post_link Read more
				.header_post_descr
					span.header_post_category SCIENCE
					h2.header_post_title Value-Based Care‘s Data Problem
					p.header_post_text For many it means that you’re no longer in the hard-partying, bad decision-making stage of your life, for better or for worse.
					a(href="#").header_post_link Read more
				.header_post_descr
					span.header_post_category TECHNOLOGY
					h2.header_post_title How to Design for  Virtual Reality
					p.header_post_text For many it means that you’re no longer in the hard-partying, bad decision-making stage of your life, for better or for worse.
					a(href="#").header_post_link Read more
				.header_post_descr
					span.header_post_category EDUCATION
					h2.header_post_title What I Will Fret Over 
					p.header_post_text For many it means that you’re no longer in the hard-partying, bad decision-making stage of your life, for better or for worse.
					a(href="#").header_post_link Read more
			ul.header_post_info
					li.header_post_item.active
						span.post_item_category Livestyle
						p.post_item_text Things To Do Before You're 30
					li.header_post_item 
						span.post_item_category SCIENCE
						p.post_item_text Value-Based Care‘s Data Problem
					li.header_post_item 
						span.post_item_category TECHNOLOGY
						p.post_item_text How to Design for  Virtual Reality 
					li.header_post_item 
						span.post_item_category EDUCATION
						p.post_item_text What I Will Fret Over 
			