.container
	.footer_info
		p.design Design from Afnizar Nur Ghifari

		ul.social
			li
				a.social_link.telegram(href="#")
					i.fa.fa-paper-plane
			li
				a.social_link.twitter(href="#")
					i.fa.fa-twitter
			li
				a.social_link.dribble(href="#")
					i.fa.fa-dribbble
			li
				a.social_link.behance(href="#")
					i.fa.fa-behance