header.header
	.container
		nav.navigation
			.logo
				a.logo_link(href="#") Media
			ul.nav_menu
				li
					a.nav_menu_link(href="#") Home
				li
					a.nav_menu_link(href="#") About
				li
					a.nav_menu_link(href="#") Contact
				li
					a.nav_menu_link(href="#") Page

