head
  meta(charset='UTF-8')
  title Media
  meta(name='description', content='description')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  
  link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')

  // Load Styles
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='css/normalize.css')
  link(rel='stylesheet', href='js/slick/slick.css')
  link(rel='stylesheet', href='js/slick/slick-theme.css')
  link(rel='stylesheet', href='css/main.css')
  link(rel='stylesheet', href='css/media.css')

  // Mixins
  include bemto/bemto
